:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
    width: 80%;
    box-sizing: border-box;
}

.hl {
    color: var(--base);
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

.controls {
    display: flex;
    flex-direction: column;
    margin: 0 auto 3rem;
    width: 90%;
}

label {
    display: inline-block;
    text-align: right;
    width: 12rem;
}

input {
    width: 100px;
}